
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/sudoku/FileContentIndex/29fbe1d9-b30b-4b7d-bd8e-4c0ed6b58b29.vsidx
.vs/sudoku/FileContentIndex/6225f796-e652-4f08-8791-1c69c51cde11.vsidx
.vs/sudoku/FileContentIndex/8dd83782-dfb8-44eb-93fe-ed2551dd250a.vsidx
.vs/sudoku/FileContentIndex/read.lock
.vs/sudoku/v17/.wsuo
.vs/sudoku/v17/Browse.VC.db
.vs/sudoku/v17/ipch/AutoPCH/850eaeaac85526b7/MENU.ipch
.vs/VSWorkspaceState.json
menu/.vs/menu/FileContentIndex/2459017c-7308-4944-a60e-4a1aa615d058.vsidx
menu/.vs/menu/FileContentIndex/read.lock
menu/.vs/menu/v17/.suo
menu/.vs/menu/v17/Browse.VC.db
menu/.vs/menu/v17/ipch/AutoPCH/11f9ac104c8b4319/MENU.ipch
menu/x64/Debug/menu.exe
menu/x64/Debug/menu.exe.recipe
menu/x64/Debug/menu.ilk
menu/x64/Debug/menu.log
menu/x64/Debug/menu.obj
menu/x64/Debug/menu.pdb
menu/x64/Debug/menu.tlog/CL.command.1.tlog
menu/x64/Debug/menu.tlog/CL.read.1.tlog
menu/x64/Debug/menu.tlog/CL.write.1.tlog
menu/x64/Debug/menu.tlog/link.command.1.tlog
menu/x64/Debug/menu.tlog/link.read.1.tlog
menu/x64/Debug/menu.tlog/link.write.1.tlog
menu/x64/Debug/menu.tlog/menu.lastbuildstate
menu/x64/Debug/menu.vcxproj.FileListAbsolute.txt
menu/x64/Debug/vc143.idb
menu/x64/Debug/vc143.pdb
